.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog a {
    text-decoration: none;
}

a.activeLink {
    color: darkred;
}

.img {
    width: 50px;
    border-radius: 25px;
}